/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 90%;
}
.page-container {
  background-color: #150b3e;
  border-radius: 20px;
  padding: 90px;
  width: 40%;
}
.name-container {
  display: flex;
}
.letter {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
  width: 50px;
  background-color: #c7d2fe;
  color: #7c3aed;
  margin-right: 20px;
}
.name {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 30px;
}
.balance-container {
  display: flex;
  justify-content: space-between;
}
.balance {
  color: #585076;
  font-size: 18px;
  font-family: 'Roboto';
}
.money {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.initial-balance {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}
.text {
  color: #585076;
  font-size: 12px;
}
.withdraw-text {
  color: #ffffff;
  font-size: 24px;
}
.denomination-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
